@@ .. @@
 .faqHeader {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 26px 0;
     cursor: pointer;
     gap: 32px;
     width: 100%;
 }
 
+.faqQuestionIcon {
+    width: 24px;
+    height: 24px;
+    flex-shrink: 0;
+    color: #99EA48;
+    display: flex;
+    align-items: center;
+    justify-content: center;
+}
+
 .faqQuestion {
     font-family: 'Evolventa', sans-serif;
     font-weight: 700;
     font-size: 26px;
     line-height: 1.5;
     letter-spacing: -0.03em;
     color: #010205;
     margin: 0;
     flex-grow: 1;
 }
 
 .faqIcon {
     width: 24px;
     height: 24px;
     flex-shrink: 0;
     color: #010205;
     display: flex;
     align-items: center;
     justify-content: center;
     transition: transform 0.3s ease-out;
 }